{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
{% endblock %}

{% block title %} Catálogo {% endblock %}

{% block content %}
<div class="container">
    <h2>Catálogo de Discos</h2>
    <div class="discos">
        {% for producto in productos %}
        <div class="disco">
            <a href="{% url 'detalle_producto' producto.id %}">
                <img class="disco-img" src="{{ producto.imagen_tapa.url }}" alt="{{ producto.nombre_disco }}">
            </a>
            <div class="disco-info">
                <h3 class="disco-title">
                    <a href="{% url 'detalle_producto' producto.id %}">
                        {{ producto.nombre_disco }}
                    </a>
                </h3>
                <p class="disco-artist">
                    <a href="{% url 'detalle_producto' producto.id %}">
                        Artista: {{ producto.nombre_artista }}
                    </a>
                </p>
                <p class="disco-price">Precio: ${{ producto.precio }}</p>

                <!-- Botón de agregar al carrito -->
                <form action="{% url 'agregar_producto' producto.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div> 

{% endblock %}
