{%extends "base.html"%}
{%load static %}
{%block extra_head%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{%endblock%}
{%block title%} Pagina principal de la tienda {%endblock%}
{%block content%}

<body>

    <div class="bienvenida-container">

        <div class="texto">
            <h1>Bienvenidos a <br> Musik!</h1>
            <p>En nuestro Shop vas a poder encontrar <br>CDs, DVDs, Vinilos y Bluray nuevos <br>(nacionales e importados), tanto <br> nuevos como usados. </p>
        </div>
        <div class="imagenes">
            <img src="{% static 'image/portada.jpg' %}" alt="Discos de Música">
            <img src="{% static 'image/portadados.jpg' %}" alt="Discos de Música">
            <img src="{% static 'image/portadatres.jpg' %}" alt="Discos de Música">
        </div>

    </div>

</body>

{%endblock%}