{%extends "base.html"%}
{%load static %}
{%block extra_head%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{%endblock%}
{%block title%} Pagina principal de la tienda {%endblock%}
{%block content%}

<body>
    <header>
        <h1>Bienvenidos a Nuestra Tienda de Discos</h1>
    </header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Catálogo</a>
        <a href="#">Ofertas</a>
        <a href="#">Contacto</a>
    </nav>
    <div class="container">
        <h2>Los Mejores Discos a Tu Alcance</h2>
        <p>Explora nuestra colección de discos de todos los géneros y épocas. Tenemos algo para cada amante de la música.</p>
    </div>
    <footer>
        <p>&copy; 2024 Tienda de Discos. Todos los derechos reservados.</p>
    </footer>
</body>



{%endblock%}