{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
{% endblock %}

{% block title %} Mi Usuario {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Mi Perfil</h1>
            <div class="perfil-info">
                <p><strong>Nombre:</strong> {{ user.get_full_name }}</p>
                <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>
                <p><strong>Usuario:</strong> {{ user.get_username }}</p>
                <!-- Aquí puedes incluir más información del perfil si lo deseas -->
            </div>
            <div class="boton-cerrar-sesion">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            </div>
        </div>
    {% else %}
        <!-- Si el usuario no está autenticado, mostrar botón para iniciar sesión -->
        <div class="container">
            <h1>Iniciar Sesión</h1>
            <p>Por favor, inicia sesión para acceder a tu perfil.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    {% endif %}
{% endblock %}