{% extends "base.html" %}
{% load static %}
{%block extra_head%}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Carrito de Compras</h2>
    <div class="productos">
        {% for producto in productos %}
        <div class="producto-carrito">
            <div class="imagen">
                {% if producto.imagen_tapa %}
                    <img src="{{ producto.imagen_tapa }}" alt="{{ producto.nombre_disco }}">
                {% else %}
                    <img src="{% static 'img/Kanye01.jpeg' %}" alt="Imagen no disponible">
                {% endif %}
            </div>
            <div class="info">
                <h3>{{ producto.nombre }}</h3>
                <p>Precio unitario: ${{ producto.precio }}</p>
                <p>Cantidad: {{ producto.cantidad }}</p>
                <p>Subtotal: ${{ producto.precio|floatformat:"2" }}</p>
            </div>
            <div class="eliminar-producto">
                <!-- Botón para eliminar el producto -->
                <form action="{% url 'eliminar_producto' producto.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
            <div class="restar-producto">
                <!-- Botón para eliminar el producto -->
                <form action="{% url 'restar_producto' producto.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Restar</button>
                </form>
            </div>

      </div>
        {% endfor %}

        <div class="total">
            <h3 class="totalh3">Total del Carrito: ${{ total|floatformat:"2" }}</h3>
            <!-- Botón para limpiar el carrito -->
            <form action="{% url 'limpiar_carro' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Vaciar Carrito</button>
            </form>
        </div>

        {% if request.session.carro.items %}
        <div class="text-center">
            <form method="post" action="{% url 'procesar_pedido' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Hacer pedido</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}