:root {
    --font: 'Outfit', sans-serif;
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-a: hsl(217, 54%, 11%);
    --Very-dark-blue-b: hsl(216, 50%, 16%);
    --Very-dark-blue-c: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Button-color: #d84a3b;
    --Button-hover-color: #b13d31;
    --Price-color: #f27b61; /* Color más claro para el precio */
}

body {
    font-family: var(--font);
}

.container > h2 {
    text-align: center;
   /* margin-bottom: 40px;*/
    font-size: 2.5rem;
    color: var(--White);
}

.discos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.disco {
    width: 280px; /* Ancho de la tarjeta */
    height: 400px; /* Altura de la tarjeta */
    background-color: var(--Very-dark-blue-c);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.69);
    text-align: center;
    overflow: hidden;
}

.disco-img {
    width: 100%;
    height: 250px; /* Altura de la imagen */
    object-fit: cover;
    border-top-left-radius: 10px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 10px; /* Redondea la esquina superior derecha */
}



.disco-info {
    padding: 20px;
}

.disco-title {
    color: var(--White);
    font-weight: bold; /* Negrita para el título */
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px; /* Tamaño de la fuente del título */
    font-family:'Outfit', sans-serif;
    text-decoration: none; /* Quitar subrayado del enlace */
}

.disco-title a {
    color: inherit; /* Hereda el color del texto del elemento padre (h3) */
    text-decoration: none; /* Quitar subrayado del enlace */
}

.disco-title a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón por encima del enlace */
}



.disco-artist {
    color: var(--Soft-blue);
    font-size: 16px; /* Tamaño del texto del artista */
    margin-bottom: 10px;
}

.disco-price {
    font-size: 14px; /* Tamaño del precio */
    font-weight: bold;
    color: var(--Price-color); /* Color del precio */
    margin-bottom: 15px;
}

.btn-primary {
    background-color: var(--Button-color);
    color: var(--White);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--Button-hover-color);
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 1140px) {
    .disco {
        width: 340px; /* Ancho de la tarjeta en pantallas grandes */
        height: 460px; /* Altura de la tarjeta en pantallas grandes */
    }
}
