*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.authincation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.authincation-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 700px; 
}

.auth-form h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #191716;
    align-items: center;
    text-align: center;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #ff5722;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
    outline: none;
}

.form-group label {
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.btn-primary {
    background-color: #ff6600; 
    border-color: #ff6600; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #e65c00; 
    border-color: #e65c00; 
}


.text-primary {
    color: #ff6600; 
}

.text-primary:hover {
    color: #e65c00; 
    text-decoration: underline;
}


.error-message {
    font-size: 14px;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    flex: 1;
}
